 .header{
            display: flex;
            background-color: rgba(2, 48, 147, 0.636);
            color: rgb(190, 167, 167);
        }
.footer{
            background-color: rgb(124, 107, 22);
            color: rgb(74, 200, 20);
        }
.container{
    margin: 0px;
}
*{
    margin: 0px;
}
.menu{
    display: flex;
}